/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

/* If CSS3 Transforms are supported
 display the browser warning*/
.csstransforms #unsupported {
  display: none;
}

/* If CSS3 Transforms are NOT supported
 display the browser warning*/
.no-csstransforms #unsupported {
  display: block;
}


@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	width: 100%; 
	height: 100%; 
	background-image: url(../img/background.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}

/*---------------------------*/

#container {
	position: relative;
	outline: 0px solid;
	padding: 0 15px;
	margin: 0 1%;
	background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 16px 16px;
	overflow: hidden;
}

#top-bar {
	outline: 1px solid red;
	height: 5vh;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5vw;
	color: White;
}

#bottom-bar {
	outline: 1px solid red;
	height: 5vh;
	font-family: 'Raleway', sans-serif;
	color: White;
}

#mainMenu {
	/*outline: 1px solid yellow; */
	height: 85vh;
	display: block;
}

.mainMenuButton {
	margin: 10vh auto;
	width: 30vw;
	font-family: 'Raleway', sans-serif;
	font-size: 2vw;
	color: White;
	text-align: center;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #135680);
	background-image: -moz-linear-gradient(top, #3498db, #135680);
	background-image: -ms-linear-gradient(top, #3498db, #135680);
	background-image: -o-linear-gradient(top, #3498db, #135680);
	background-image: linear-gradient(to bottom, #3498db, #135680);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.mainMenuButton:active {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}


#board {
	outline: 1px solid green; 
	height: 85vh;
	display: none;
}

#board-top {
	outline: 0px solid red;
}

#boxTimer {
	/*outline: 1px solid;*/
	height: 30vh;
	text-align: center;
}

#boxTimer span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin: 5%;
  	font-family: 'Raleway', sans-serif;
	font-size: 3vw;
	font-weight:bold;
	color: white;
}

#timer span {
	font-size: 2vw;
}

#boxQuestion {
	border: 10px ridge white;
	border-radius: 2em;
	height: 30vh;
	background-color: #DCDDD8;
	background-image: linear-gradient(transparent 50%, #CCFFFF 50%);
	background-size: 50px 50px;
}

#boxQuestion p {
	/*display: inline-block;*/
	vertical-align: middle;
	text-align: center;
	line-height: normal;
	padding: 5px;
	font-family: 'Istok Web', sans-serif;
	font-size: 1.8vw;
	font-weight: bold;
	color: Black;
}

#boxScore {
	outline: 0px solid;
	height: 30vh;
}

#boxScore span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin: 5%;
  	font-family: 'Raleway', sans-serif;
	font-size: 3vw;
	font-weight:bold;
	color: white;
}

#score span {
	display: inline-block;
	clear: both;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	margin: 5%;
  	font-family: 'Istok Web', sans-serif;
	font-size: 2vw;
	font-weight:bold;
	color: white;
}

#board-top-spacer {
	outline: 0px solid red;
	height: 2.5vh;
}

#board-middle-spacer {
	outline: 0px solid red;
	height: 5vh;
}

#board-bottom-spacer {
	outline: 0px solid red;
	height: 2.5vh;
}

#board-bottom {
	outline: 0px solid green;
}

#commands {
	outline: 0px solid;
	position: relative;
	margin: 0 auto;
	min-height: 50vh;
}

.command {
	outline: 0px solid;
	width: 100%;
	height: 100%;
	line-height: 10vw;
}

#centralButton {
	position: absolute;
	
	border: 2px solid silver;
	border-radius: 100%;
	left: 50%;
	top: 50%;
	margin: -5vw 0 0 -5vw;
	width: 10vw;
	height: 10vw;
	background-color: Silver; 
	/*
	background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
 	background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
	*/
	
	background-image: radial-gradient(160% 100% at 50% 0% ,hsla(0,0%,100%,.3) 50%,hsla(0,0%,100%,0) 52%);
	background-size:100%;
	
 	box-shadow:rgba(192,192,192,0.75) 0px 5px 240px;
}


.answer {
	display: inline-block;
	margin: auto 10vw;
	line-height:1.2;
	font-family: 'Istok Web', sans-serif;
	font-size: 1.8vw;
	font-weight:normal;
	color: white;
}

.commandLabelTopLeft {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid ;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	line-height: normal;
	margin: 0.5vw;
	padding: 1vw;
	font-family: 'Raleway', sans-serif;
  	font-size: 2vw;
	color: white;
}

.commandLabelTopRight {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid ;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	line-height: normal;
	margin: 0.5vw;
	padding: 1vw;
	font-family: 'Raleway', sans-serif;
  	font-size: 2vw;
	color: white;
}

.commandLabelBottomLeft {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid ;
	border-radius: 10px;
	display: inline-block;
	vertical-align: bottom;
	line-height: normal;
	margin: 1vw;
	padding: 1vw;
	font-family: 'Raleway', sans-serif;
  	font-size: 2vw;
	color: white;
}

.commandLabelBottomRight {
	position: absolute;
	bottom: 0;
	left: 0;
	border: 1px solid ;
	border-radius: 10px;
	display: inline-block;
	vertical-align: bottom;
	line-height: normal;
	margin: 1vw;
	padding: 1vw;
	font-family: 'Raleway', sans-serif;
  	font-size: 2vw;
	color: white;
}

#commandA {
	position: absolute;
	border-radius: 5em 0 0 0;
	background-color: green;
	text-align:right;
	left: 0;
	top: 0;
	width: 48%;
	height: 45%;
	
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	
	background: rgb(180,221,180); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), color-stop(67%,rgba(0,138,0,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */

}




#commandA:active {
	background: LightGreen;  
}

#commandB {
	position: absolute;
	border-radius: 0 0 0 5em;
	background-color: yellow;
	text-align: right;
	left: 0;
	bottom: 0;
	width: 48%;
	height: 45%;
	
	-webkit-box-shadow: 7px -7px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    7px -7px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         7px -7px 5px 0px rgba(50, 50, 50, 0.5);
	background: rgb(36,33,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(36,33,0,1) 0%, rgba(88,82,0,1) 17%, rgba(138,129,0,1) 33%, rgba(240,225,20,1) 67%, rgba(244,234,86,1) 83%, rgba(249,243,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,33,0,1)), color-stop(17%,rgba(88,82,0,1)), color-stop(33%,rgba(138,129,0,1)), color-stop(67%,rgba(240,225,20,1)), color-stop(83%,rgba(244,234,86,1)), color-stop(100%,rgba(249,243,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(36,33,0,1) 0%,rgba(88,82,0,1) 17%,rgba(138,129,0,1) 33%,rgba(240,225,20,1) 67%,rgba(244,234,86,1) 83%,rgba(249,243,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(36,33,0,1) 0%,rgba(88,82,0,1) 17%,rgba(138,129,0,1) 33%,rgba(240,225,20,1) 67%,rgba(244,234,86,1) 83%,rgba(249,243,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(36,33,0,1) 0%,rgba(88,82,0,1) 17%,rgba(138,129,0,1) 33%,rgba(240,225,20,1) 67%,rgba(244,234,86,1) 83%,rgba(249,243,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(36,33,0,1) 0%,rgba(88,82,0,1) 17%,rgba(138,129,0,1) 33%,rgba(240,225,20,1) 67%,rgba(244,234,86,1) 83%,rgba(249,243,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242100', endColorstr='#f9f399',GradientType=0 ); /* IE6-9 */

}

#commandB:active {
	background: Khaki;
}

#commandC {
	position: absolute;
	border-radius: 0 5em 0 0;
	background-color: red;
	text-align:left;
	right: 0;
	top: 0;
	width: 48%;
	height: 45%;
	
	-webkit-box-shadow: -7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         -7px 7px 5px 0px rgba(50, 50, 50, 0.5);
	background: rgb(249,160,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,160,153,1) 0%, rgba(244,96,86,1) 17%, rgba(240,34,20,1) 33%, rgba(138,9,0,1) 67%, rgba(88,6,0,1) 83%, rgba(36,2,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,160,153,1)), color-stop(17%,rgba(244,96,86,1)), color-stop(33%,rgba(240,34,20,1)), color-stop(67%,rgba(138,9,0,1)), color-stop(83%,rgba(88,6,0,1)), color-stop(100%,rgba(36,2,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,160,153,1) 0%,rgba(244,96,86,1) 17%,rgba(240,34,20,1) 33%,rgba(138,9,0,1) 67%,rgba(88,6,0,1) 83%,rgba(36,2,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,160,153,1) 0%,rgba(244,96,86,1) 17%,rgba(240,34,20,1) 33%,rgba(138,9,0,1) 67%,rgba(88,6,0,1) 83%,rgba(36,2,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,160,153,1) 0%,rgba(244,96,86,1) 17%,rgba(240,34,20,1) 33%,rgba(138,9,0,1) 67%,rgba(88,6,0,1) 83%,rgba(36,2,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,160,153,1) 0%,rgba(244,96,86,1) 17%,rgba(240,34,20,1) 33%,rgba(138,9,0,1) 67%,rgba(88,6,0,1) 83%,rgba(36,2,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9a099', endColorstr='#240200',GradientType=0 ); /* IE6-9 */
}

#commandC:active {
	background: lightCoral;
}

#commandD {
	position: absolute;
	border-radius: 0 0 5em 0;
	background-color: blue;
	text-align: left;
	right: 0;
	bottom: 0;
	width: 48%;
	height: 45%;
	
	-webkit-box-shadow: -7px -7px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -7px -7px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         -7px -7px 5px 0px rgba(50, 50, 50, 0.5);
	background: rgb(0,22,36); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,22,36,1) 0%, rgba(0,53,88,1) 17%, rgba(0,83,138,1) 33%, rgba(11,154,249,1) 67%, rgba(79,182,251,1) 83%, rgba(149,211,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,22,36,1)), color-stop(17%,rgba(0,53,88,1)), color-stop(33%,rgba(0,83,138,1)), color-stop(67%,rgba(11,154,249,1)), color-stop(83%,rgba(79,182,251,1)), color-stop(100%,rgba(149,211,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,22,36,1) 0%,rgba(0,53,88,1) 17%,rgba(0,83,138,1) 33%,rgba(11,154,249,1) 67%,rgba(79,182,251,1) 83%,rgba(149,211,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,22,36,1) 0%,rgba(0,53,88,1) 17%,rgba(0,83,138,1) 33%,rgba(11,154,249,1) 67%,rgba(79,182,251,1) 83%,rgba(149,211,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,22,36,1) 0%,rgba(0,53,88,1) 17%,rgba(0,83,138,1) 33%,rgba(11,154,249,1) 67%,rgba(79,182,251,1) 83%,rgba(149,211,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,22,36,1) 0%,rgba(0,53,88,1) 17%,rgba(0,83,138,1) 33%,rgba(11,154,249,1) 67%,rgba(79,182,251,1) 83%,rgba(149,211,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001624', endColorstr='#95d3fd',GradientType=0 ); /* IE6-9 */

}

#commandD:active {
	background: lightSkyBlue;
}


*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

.red {
  background-color: Red;
}

.green {
  background-color: Green;
}







